# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.VrPlayer.iml
# Datasource local storage ignored files
/../../../../../../../../:\Unity\project\VRPlayer\VRPlayer\.idea\.idea.VrPlayer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
