# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.VRPlayerServer.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Unity\project\VRPlayer\VRPlayerServer\.idea\.idea.VRPlayerServer\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
